

:root{

  // Couleur de base
  --color-white: #fff;
  --color-black: #000;

  // Couleurs du projet

  --color-link: #202C4A;
  //--color-link-visited: ;
  //--color-link-hover: ;
  //--color-link-active: ;
  //--color-link-focus: ;

  --color-bg-primary: #fff;
  //--color-bg-secondary: ;
  //--color-bg-tertiary: ;
  //
  //--color-text-primary: ;
  //--color-text-secondary: ;
}