

:root{

  // Grosseur des textes

  --fz-normal: 1rem;  //16px

  // Grosseur des titres

  //--fz-h1: rem;  //40px
  //--fz-h2: rem;  //32px
  //--fz-h3: rem;  //28px
  //--fz-h4: rem;  //24px


  // Hauteur de ligne
  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 2.4;

  //Font family
  //--ff-normal: ;
  //--ff-title: ;

  

}